@import '/src/fonts/fonts.css';

/* ----------Général---------- */
*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #519FD6;
}

.upgrades {
  border-radius: 1vw;
  height: 6vw;
  width: 9vw;
  border: 0.2vw solid #FFFFFF;
}

.upgrades:active{
  transform: scale(0.98);
}

.hidden{
  display: none;
}

/* ----------App---------- */
.cptBouton {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ameliorations {
  background-color: #326285;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}


/* ----------Counter---------- */
.counter{
  margin-top: 2vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #FAEA5E;
  border-radius: 1vw;
  padding: 0.2vw;
  width: 10vw;
  border: 0.2vw solid black;
}

.counter p{
  color: white;
  font-size: 2vw;
  font-family: 'Fredoka One', sans-serif;
  margin-right: 1vw;
  position: relative;
  text-shadow:
  -0.1vw -0.1vw 0 black,
   0.1vw -0.1vw 0 black,
  -0.1vw  0.1vw 0 black,
   0.1vw  0.1vw 0 black;

}

.counter__img, .counter-diamond__img {
  width: 4vw;
  height: auto;
}


/* ----------KoalaButton---------- */

.koala {
  height: 25vw;
  width: auto;
  transition: transform 0.1s ease;
  cursor: pointer;
}

.koala:active, .chest:active {
  transform: scale(0.9);
}

/* ----------KoalaButton---------- */
.diamond-chest__img, .diamond-chest__img--disable {
  height: 10vw;
  transition: transform 0.1s ease;
}

.diamond-chest__img--disable{
  filter: grayscale(80%);
}
