@charset "UTF-8";
/* -----Colors----- */
/* -----Borders-----*/
/* ----------Général---------- */
*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #519FD6;
  font-family: "Fredoka", sans-serif;
  max-height: 100vh;
  position: relative;
  background-image: url("/public/images/stars.gif"), url("/public/images/stars.gif");
  background-position: 5vw 3vh, 72vw 20vh;
  background-repeat: no-repeat;
  background-size: 20vw;
}

/* -----Colors----- */
/* -----Borders-----*/
.app {
  height: 95vh;
}
.app__counters {
  margin-top: 3vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3vw;
}
.app__upgrades {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5vw;
  justify-content: center;
  padding: 5vh 5vw;
  background-color: #326285;
  position: relative;
  top: 2.2vh;
  background-image: url("/public/images/grass.png"), url("/public/images/grass.png"), url("/public/images/grass.png");
  background-position: -10vw 2vw, 35vw 2vw, 80vw 2vw;
  background-repeat: no-repeat;
  background-size: 30vw;
}
.app__upgrades > * {
  flex: 1 0 16%;
  max-width: 16%;
}

/* -----Colors----- */
/* -----Borders-----*/
.counter {
  background-color: #FAEA5E;
  border: 0.2vw solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 12vw;
  border-radius: 1vw;
  padding: 0.2vh 0;
}
.counter__money {
  color: white;
  font-size: 2vw;
  text-shadow: -0.1vw -0.1vw 0 black, 0.1vw -0.1vw 0 black, -0.1vw 0.1vw 0 black, 0.1vw 0.1vw 0 black;
  margin-right: 1vw;
  letter-spacing: 0.1vw;
  font-weight: bold;
}
.counter__img {
  height: 5vh;
  width: auto;
}

/* -----Colors----- */
/* -----Borders-----*/
.counter-diamond {
  background-color: #FAEA5E;
  border: 0.2vw solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 12vw;
  border-radius: 1vw;
  padding: 0.2vh 0;
}
.counter-diamond__diamond {
  color: white;
  font-size: 2vw;
  text-shadow: -0.1vw -0.1vw 0 black, 0.1vw -0.1vw 0 black, -0.1vw 0.1vw 0 black, 0.1vw 0.1vw 0 black;
  margin-right: 1vw;
  letter-spacing: 0.1vw;
  font-weight: bold;
}
.counter-diamond__img {
  height: 5vh;
  width: auto;
}

/* -----Colors----- */
/* -----Borders-----*/
.koala-button {
  position: relative;
  text-align: center;
  top: 2vh;
  background-image: url("/public/images/grass.png"), url("/public/images/grass.png");
  background-position: 26vw 15vw, 54vw 15vw;
  background-repeat: no-repeat;
  background-size: 20vw;
}
.koala-button__img {
  height: 25vw;
  width: auto;
  transition: transform 0.1s ease;
  cursor: pointer;
}
.koala-button__img:active {
  transform: scale(0.9);
}
.koala-button::before {
  content: "";
  width: 40vw;
  height: 40vw;
  background-color: #5EB9FA;
  border: 0.3vw solid white;
  border-radius: 50%;
  position: absolute;
  top: 85%; /* Positionne le cercle au centre verticalement */
  left: 50%; /* Positionne le cercle au centre horizontalement */
  transform: translate(-50%, -50%);
  z-index: -1;
}

/* -----Colors----- */
/* -----Borders-----*/
.diamond-chest {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 3vw;
  top: 0vh;
}
.diamond-chest__img {
  height: 8vw;
  cursor: pointer;
  transition: transform 0.1s ease;
}
.diamond-chest__img:active {
  transform: scale(0.9);
}
.diamond-chest__img--disable {
  height: 8vw;
  filter: grayscale(80%);
}
.diamond-chest__timer {
  color: white;
  font-size: 3vh;
  letter-spacing: 0.1vw;
  position: absolute;
  top: 14vh;
  text-shadow: -0.1vw -0.1vw 0 black, 0.1vw -0.1vw 0 black, -0.1vw 0.1vw 0 black, 0.1vw 0.1vw 0 black;
}
.diamond-chest__timer--hidden {
  display: none;
}

/* -----Colors----- */
/* -----Borders-----*/
.multiplier {
  display: flex;
  flex-direction: row;
  gap: 0.2vw;
  padding: 1.2vh 0;
  position: absolute;
  width: 15vw;
  left: 5vw;
  top: 45vh;
}
.multiplier::before {
  content: "";
  background-color: #FAEA5E;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 54%;
  transform: translateX(-50%);
  width: 90%;
  z-index: -1;
  border-radius: 0.8vw;
}
.multiplier__button {
  height: 6vh;
  width: 5vw;
  border-radius: 0.8vw;
  border: 0.2vw solid black;
  transition: transform 0.1s ease;
  cursor: pointer;
  font-family: "Fredoka", sans-serif;
  font-weight: bold;
  color: white;
  font-size: 2vw;
  text-shadow: -0.1vw -0.1vw 0 black, 0.1vw -0.1vw 0 black, -0.1vw 0.1vw 0 black, 0.1vw 0.1vw 0 black;
}
.multiplier__button--green {
  background-color: #75DE5B;
}
.multiplier__button--grey {
  background-color: #D9D9D9;
}
.multiplier__button:active {
  transform: scale(0.9);
}

/* -----Colors----- */
/* -----Borders-----*/
.upgrade {
  border-radius: 0.8vw;
  padding: 1vh 0;
  border: 0.2vw solid #FFFFFF;
  text-shadow: -0.1vw -0.1vw 0 black, 0.1vw -0.1vw 0 black, -0.1vw 0.1vw 0 black, 0.1vw 0.1vw 0 black;
  font-size: 2vw;
}
.upgrade__name {
  font-family: "Fredoka", sans-serif;
  font-weight: bold;
  color: white;
}
.upgrade__cost {
  font-family: "Luckiest Guy", cursive;
}

.upgrade--buy {
  cursor: pointer;
  background-color: #75DE5B;
  transition: transform 0.1s ease;
}
.upgrade--buy:active {
  transform: scale(0.9);
}
.upgrade--buy__cost {
  color: #FAEA5E;
}

.upgrade--cant-buy {
  background-color: #5EB9FA;
}
.upgrade--cant-buy__cost {
  color: #D9D9D9;
}/*# sourceMappingURL=main.css.map */