.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.koala {
  transition: transform 0.1s ease; /* Transition douce lors du changement de la transformation */
}

.koala:active {
  transform: scale(0.9); /* Réduit le koala à 90% de sa taille d'origine lorsqu'il est cliqué */
}

.koalaFlying {
  position: absolute;
  width: 50px;
  transition: transform 1s ease-out; /* animation douce */
  opacity: 0; /* initialement caché */
}

