@import 'variables';

.counter{
    background-color: $yellow;
    border: $border;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 12vw;
    border-radius: 1vw;
    padding: 0.2vh 0;

    &__money{
        color: white;
        font-size: 2vw;
        text-shadow: $textBorder;
       margin-right: 1vw;
       letter-spacing: 0.1vw;
    }

    &__img{
        height: 5vh;
        width: auto;
    }
    
}