@import "variables";

.diamond-chest {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 5vw;
  top: 3vh;

  &__img {
    height: 8vw;
    cursor: pointer;
    transition: transform 0.1s ease;
    &:active {
      transform: scale(0.9);
    }
  }

  &__img--disable {
    height: 8vw;
    filter: grayscale(80%);
  }

  &__timer {
    color: white;
    font-size: 3vh;
    letter-spacing: 0.1vw;
    position: absolute;
    top: 16vh;
    text-shadow: $textBorder;

    &--hidden {
      display: none;
    }
  }
}
