@import 'variables';

/* ----------Général---------- */
*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $backgroundBlue;
  font-family: 'Fredoka', sans-serif;
  max-height: 100vh;
  position: relative;
  background-image: url("/public/images/stars.gif"),
    url("/public/images/stars.gif");
  background-position: 5vw 3vh, 72vw 20vh;
  background-repeat: no-repeat;
  background-size: 20vw;
}

