@import 'variables';


/* ----------Général---------- */
*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $backgroundBlue;
  font-family: 'Fredoka', sans-serif;
}
