/* -----Colors----- */
$backgroundBlue: #63beff;
$lightBlue: #39A4F1;
$darkBlue: #17415f;

$yellow: #FAEA5E;
$green: #75DE5B;
$grey: #D9D9D9;

/* -----Borders-----*/
$border: 0.2vw solid black;
$textBorder:
-0.1vw -0.1vw 0 black,
 0.1vw -0.1vw 0 black,
-0.1vw  0.1vw 0 black,
 0.1vw  0.1vw 0 black;