/* -----Colors----- */
$backgroundBlue: #519FD6;
$lightBlue: #5EB9FA;
$darkBlue: #326285;

$yellow: #FAEA5E;
$green: #75DE5B;
$grey: #D9D9D9;

/* -----Borders-----*/
$border: 0.15vw solid black;
$textBorder:
-0.1vw -0.1vw 0 black,
 0.1vw -0.1vw 0 black,
-0.1vw  0.1vw 0 black,
 0.1vw  0.1vw 0 black;